# **Pandas 02**
Source : [Indonesia Belajar](https://www.youtube.com/watch?v=I_UeEB0Bj-I)

# **#05 Membalik Urutan Baris dan Kolom pada Data Frame**

Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.5
1.21.6

Persiapan Data Frame

In [2]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')
# Nilai random antara 1 - 10 dengan dimensi yang ditentukan oleh n_rows dan n_cols

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), columns=cols)
df

   A  B  C  D  E
0  7  9  8  5  4
1  8  1  7  9  7
2  4  1  6  2  1
3  1  3  6  5  6
4  9  7  8  4  5

Membalik Urutan Kolom

In [3]:
df.loc[:, ::-1] # Fungsi loc[] memiliki dua parameter yang berfungsi untuk mengatur baris dan kolom.

   E  D  C  B  A
0  4  5  8  9  7
1  7  9  7  1  8
2  1  2  6  1  4
3  6  5  6  3  1
4  5  4  8  7  9

Membalik Urutan Baris

In [4]:
df.loc[::-1] # Untuk membalik urutan baris, ubah stepper pada ruas pertama menjadi -1

   A  B  C  D  E
4  9  7  8  4  5
3  1  3  6  5  6
2  4  1  6  2  1
1  8  1  7  9  7
0  7  9  8  5  4

Membalik Urutan Baris dan Melakukan Penyesuaian Ulang Index

In [5]:
df.loc[::-1].reset_index(drop=True) # Jika kita ingin membalik urutan baris, tetapi index 0 tetap diatas, kita bisa menggunakan reset_index().

   A  B  C  D  E
0  9  7  8  4  5
1  1  3  6  5  6
2  4  1  6  2  1
3  8  1  7  9  7
4  7  9  8  5  4

# **#06 Mengganti Nama (label) Kolom pada Data Frame**

Import Modules

In [6]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.5
1.21.6

Persiapan Data Frame

In [7]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')
# Nilai random antara 1 - 10 dengan dimensi yang ditentukan oleh n_rows dan n_cols

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), columns=cols)
df

   A  B  C  D  E
0  2  8  9  3  7
1  1  8  8  3  9
2  9  6  3  4  5
3  8  2  5  7  1
4  1  7  7  7  6

Mengganti Nama (label) Untuk Sebuah Kolom pada Data Frame

In [8]:
df.rename(columns={'C':'Hobi'}) 
# Fungsi rename akan mengganti nama sebuah kolom pada data frame dengan 'c' yang merupakan kolom targer dan 'hobi' sebagai nama pengganti kolom dengan nama 'c'.

   A  B  Hobi  D  E
0  2  8     9  3  7
1  1  8     8  3  9
2  9  6     3  4  5
3  8  2     5  7  1
4  1  7     7  7  6

Mengganti Nama (label) Untuk Banyak Kolom pada Data Frame

In [9]:
df.rename(columns={'A':'Nama', 'B':'Alamat', 'D':'Kota'}) 
# Menggunakan cara yang sama seperti sebelumnya, namun digunakan dengan beberapa pasangan keys dan values.

   Nama  Alamat  C  Kota  E
0     2       8  9     3  7
1     1       8  8     3  9
2     9       6  3     4  5
3     8       2  5     7  1
4     1       7  7     7  6

# **#07 Menghapus (drop) Missing Values (NaN) pada Data Frame**

Import Modules

In [10]:
import pandas as pd

print(pd.__version__)

1.3.5

Persiapan Data Frame

In [11]:
df = pd.util.testing.makeMissingDataframe().reset_index() 
df.head()
# Fungsi pd.util.testing.makeMissingDataframe() digunakan untuk menghasilkan data dummy yang memiliki nilai NaN (Not a Number).
# Fungsi reset_index() berfungsi untuk membentuk index baru, menggantikan kolom index yang lama.
# Fungsi head() berfungsi untuk menampilkan lima data awal.

/usr/local/lib/python3.7/dist-packages/pandas/util/__init__.py:15: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

        index         A         B         C         D
0  jvgRz3Nx6O -0.656613 -0.412727  1.910150 -1.776074
1  Y1ejOByt9y -0.793622  0.635583 -0.041066  1.268983
2  AiXl5CspKZ -0.870476  1.708509 -1.782809 -0.695427
3  F1zFc7E0XJ  0.045807       NaN -0.503247 -0.136025
4  Tj86fgUYjz       NaN  0.694352  1.033841 -0.499943

In [12]:
df = df.rename(columns={'index':'Z'})
df.head()
# Fungsi rename() digunakan untuk mengubah label kolom 'index' (yang lama) menjadi 'Z'

            Z         A         B         C         D
0  jvgRz3Nx6O -0.656613 -0.412727  1.910150 -1.776074
1  Y1ejOByt9y -0.793622  0.635583 -0.041066  1.268983
2  AiXl5CspKZ -0.870476  1.708509 -1.782809 -0.695427
3  F1zFc7E0XJ  0.045807       NaN -0.503247 -0.136025
4  Tj86fgUYjz       NaN  0.694352  1.033841 -0.499943

In [13]:
df_backup = df.copy(deep=True)
# Mencadangkan nilai df ke variabel df_backup menggunakan fungsi copy().

Menghapus (drop) Setiap Kolom yang Mengandung Missing Values

In [14]:
df = df.dropna(axis='columns') 
df.head() 
# Menggunakan fungsi dropna() yang diberi parameter axis dengan value 'columns'.

            Z
0  jvgRz3Nx6O
1  Y1ejOByt9y
2  AiXl5CspKZ
3  F1zFc7E0XJ
4  Tj86fgUYjz

Menghapus (drop) Setiap Baris yang Mengandung Missing Values

In [15]:
df = df_backup.copy(deep=True)

df = df.dropna(axis='rows') 
# Menggunakan fungsi dropna() yang diberi parameter axis dengan value 'rows'.
df.head()

            Z         A         B         C         D
0  jvgRz3Nx6O -0.656613 -0.412727  1.910150 -1.776074
1  Y1ejOByt9y -0.793622  0.635583 -0.041066  1.268983
2  AiXl5CspKZ -0.870476  1.708509 -1.782809 -0.695427
6  eCdqndi57S  1.000525 -1.741668 -1.038189  0.309052
7  ryGWGZgDsZ -0.258768 -1.133102  1.610108 -0.617475

Persentase missing values untuk tiap kolom

In [16]:
df = df_backup.copy(deep=True)

df.isna().mean()*100
# Fungsi isna() akan mengumpulkan semua missing value untuk setiap kolom dari data frame.
# Fungsi mean() akan menghitung rata-rata dari missing value yang dimiliki setiap kolom.

Z     0.000000
A    16.666667
B    13.333333
C     6.666667
D     3.333333
dtype: float64

Menghapus (drop) Setiap Kolom yang Mengandung Missing Values Berdasarkan Threshold (ambang batas)

In [17]:
treshold = len(df) * 0.9 # len() digunakan untuk menghitung panjang baris dan variable thershold yang berisi batas 0.9 atau 90%

df = df.dropna(thresh=treshold, axis='columns')
df.head()

            Z         C         D
0  jvgRz3Nx6O  1.910150 -1.776074
1  Y1ejOByt9y -0.041066  1.268983
2  AiXl5CspKZ -1.782809 -0.695427
3  F1zFc7E0XJ -0.503247 -0.136025
4  Tj86fgUYjz  1.033841 -0.499943

# **#08 Memeriksa Kesamaan Antar Dua Buah Kolom (Series) pada Data Frame**

Import Modules

In [18]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.5
1.21.6

Persiapan Data Frame

In [19]:
# Membuat dua kolom yang memiliki nilai yang sama
data = {'A':[15, 15, 18, np.nan, 12], 
        'B':[15, 15, 18, np.nan, 12]}

df = pd.DataFrame(data)
df

      A     B
0  15.0  15.0
1  15.0  15.0
2  18.0  18.0
3   NaN   NaN
4  12.0  12.0

Mengenal Pandas Series
- Series adalah struktur data lain yang dimiliki pandas dengan objek 1-dimensi yang berisi sequence nilai dan berasosiasi dengan label data, yang disebut indeks.
- Untuk membuat sebuah Series atau kolom, kita bisa membuatnya dari sebuah array dengan memanggil fungsi Series pada pandas.

In [20]:
df['A']

0    15.0
1    15.0
2    18.0
3     NaN
4    12.0
Name: A, dtype: float64

In [21]:
type(df['A'])

pandas.core.series.Series

In [22]:
type(df)

pandas.core.frame.DataFrame

Memeriksa Kesamaan dengan Operator ==

In [23]:
df['A'] == df['B'] # operator == tidak dapat membandingkan nilai NaN dengan baik.

0     True
1     True
2     True
3    False
4     True
dtype: bool

Memeriksa kesamaan dengan method equals()

In [24]:
df['A'].equals(df['B'])

True

Memeriksa Kesamaan Antar Dua Data Frame

In [27]:
df1 = df.copy(deep=True)

df.equals(df1)

True

In [26]:
df == df1

       A      B
0   True   True
1   True   True
2   True   True
3  False  False
4   True   True